.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f4f4f4; */
    background-color: #F3DCD4;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.login-form {
    background-color: #F2E5D5;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-form h3 {
    margin-bottom: 20px;
    color: black;
}

.email-input,
.password-input,
.username-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #F2E5D5;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.submit-btn:hover {
    background-color: rgb(62, 62, 62);
}

.nf {
    font-weight: 900;
    font-size: 50px;
}
